pkgbase = gnome-shell-no-screenshot-notification
	pkgdesc = Next generation desktop shell - without the screenshot notification
	pkgver = 47.4
	pkgrel = 1
	epoch = 1
	url = https://gitlab.gnome.org/GNOME/gnome-shell
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = asciidoc
	makedepends = bash-completion
	makedepends = evolution-data-server
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gnome-keybindings
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = sassc
	depends = accountsservice
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dconf
	depends = gcc-libs
	depends = gcr-4
	depends = gdk-pixbuf2
	depends = gjs
	depends = glib2
	depends = glibc
	depends = gnome-autoar
	depends = gnome-desktop-4
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libcanberra-pulse
	depends = libgdm
	depends = libgirepository
	depends = libglvnd
	depends = libgweather-4
	depends = libibus
	depends = libical
	depends = libnm
	depends = libnma-gtk4
	depends = libpipewire
	depends = libpulse
	depends = libsecret
	depends = libsoup3
	depends = libx11
	depends = libxfixes
	depends = mutter
	depends = pango
	depends = polkit
	depends = systemd-libs
	depends = unzip
	depends = upower
	depends = webkitgtk-6.0
	provides = gnome-shell
	conflicts = gnome-shell
	source = git+https://gitlab.gnome.org/GNOME/gnome-shell.git#tag=47.4
	source = git+https://gitlab.gnome.org/GNOME/libgnome-volume-control.git#commit=5f9768a2eac29c1ed56f1fbb449a77a3523683b6
	source = disable-screenshot-notification.patch
	source = disable-screenshot-sound.patch
	source = change-screenshot-filenaming.patch
	b2sums = d8e8653f0e2a645390b95e16b45efd80501ce829ada0671b7c1cd597575ea64d2f650ee4771cbe60d41175bc7823eabe8dde1f58ba3c6b2cee6166b6f5c1f45a
	b2sums = e31ae379039dfc345e8032f7b9803a59ded075fc52457ba1553276d3031e7025d9304a7f2167a01be2d54c5e121bae00a2824a9c5ccbf926865d0b24520bb053
	b2sums = f05b5daf8194566769ac5123b29e06caaf93add8d398c4545a4690e9558dafd85fabbe27301aaedf9c69d45499907c7b2d9d8ae16e4c989a6cfb846c91c3adf6
	b2sums = 26702aa16b023c049521d7af391e21533bdbf065ad3c316949dade33651347cca7998e9e4fabe5fa913426cd45ad5720b0f80c5ad10f98ed517d46aeea497332
	b2sums = 06b1ae01d08bfaf3c2d3a55e00985ae76120204afa002f65465c61bf0d034046ed926ae10a7262c0838cabf8d5f26eb469fbdfe610469f831678c31de8a64a20

pkgname = gnome-shell-no-screenshot-notification
	groups = gnome
	depends = accountsservice
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dconf
	depends = gcc-libs
	depends = gcr-4
	depends = gdk-pixbuf2
	depends = gjs
	depends = glib2
	depends = glibc
	depends = gnome-autoar
	depends = gnome-desktop-4
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libcanberra-pulse
	depends = libgdm
	depends = libgirepository
	depends = libglvnd
	depends = libgweather-4
	depends = libibus
	depends = libical
	depends = libnm
	depends = libnma-gtk4
	depends = libpipewire
	depends = libpulse
	depends = libsecret
	depends = libsoup3
	depends = libx11
	depends = libxfixes
	depends = mutter
	depends = pango
	depends = polkit
	depends = systemd-libs
	depends = unzip
	depends = upower
	depends = webkitgtk-6.0
	depends = libmutter-15.so
	optdepends = evolution-data-server: Evolution calendar integration
	optdepends = gnome-bluetooth-3.0: Bluetooth support
	optdepends = gnome-control-center: System settings
	optdepends = gnome-disk-utility: Mount with keyfiles
	optdepends = gst-plugin-pipewire: Screen recording
	optdepends = gst-plugins-good: Screen recording
	optdepends = power-profiles-daemon: Power profile switching
	optdepends = python-gobject: gnome-shell-test-tool performance tester
	optdepends = python-simplejson: gnome-shell-test-tool performance tester
	optdepends = switcheroo-control: Multi-GPU support
	provides = gnome-shell
	conflicts = gnome-shell

pkgname = gnome-shell-no-screenshot-notification-docs
	pkgdesc = Next generation desktop shell - without the screenshot notification (API documentation)
	depends = 
	provides = gnome-shell-docs
	conflicts = gnome-shell-docs
