pkgbase = gnome-shell-no-screenshot-notification
	pkgdesc = Next generation desktop shell - without the screenshot notification
	pkgver = 45.0+r17+gebf2f8036
	pkgrel = 1
	epoch = 1
	url = https://wiki.gnome.org/Projects/GnomeShell
	arch = x86_64
	groups = gnome
	license = GPL
	checkdepends = appstream-glib
	checkdepends = python-dbusmock
	checkdepends = xorg-server-xvfb
	makedepends = asciidoc
	makedepends = bash-completion
	makedepends = evolution-data-server
	makedepends = git
	makedepends = gnome-control-center
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = sassc
	depends = accountsservice
	depends = gcr-4
	depends = gjs
	depends = gnome-autoar
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = libadwaita
	depends = libcanberra-pulse
	depends = libgdm
	depends = libgweather-4
	depends = libibus
	depends = libnma-gtk4
	depends = libsecret
	depends = libsoup3
	depends = mutter
	depends = unzip
	depends = upower
	optdepends = evolution-data-server: Evolution calendar integration
	optdepends = gnome-bluetooth-3.0: Bluetooth support
	optdepends = gnome-control-center: System settings
	optdepends = gnome-disk-utility: Mount with keyfiles
	optdepends = gst-plugin-pipewire: Screen recording
	optdepends = gst-plugins-good: Screen recording
	optdepends = power-profiles-daemon: Power profile switching
	optdepends = python-gobject: gnome-shell-test-tool performance tester
	optdepends = switcheroo-control: Multi-GPU support
	provides = gnome-shell
	conflicts = gnome-shell
	source = git+https://gitlab.gnome.org/GNOME/gnome-shell.git#commit=ebf2f80360f152c9d071a16c5caeecb4bd0927c4
	source = git+https://gitlab.gnome.org/GNOME/libgnome-volume-control.git
	source = disable-screenshot-notification.patch
	source = disable-screenshot-sound.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = a726caac6ec6dea7f7c8d122cedf30ad0a44921321ed763e2b4422e6f455edf2a93f6d9de72ac8c10560f69bb987a37acf6de2580b36464345afc08ab439d86e
	b2sums = aca63da0703e44401fa987660d9542d92df7e89da66d93dbf0cd75bc25868b75d9502fb73c6981d964ebbb3b6a719c9b1d84629560dafbfedf3781a6fab7769a

pkgname = gnome-shell-no-screenshot-notification
	depends = accountsservice
	depends = gcr-4
	depends = gjs
	depends = gnome-autoar
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = libadwaita
	depends = libcanberra-pulse
	depends = libgdm
	depends = libgweather-4
	depends = libibus
	depends = libnma-gtk4
	depends = libsecret
	depends = libsoup3
	depends = mutter
	depends = unzip
	depends = upower
	depends = libmutter-13.so
